@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Elsie:wght@400;900&display=swap');

body {
  background-color: hsl(45, 50%, 98%);
}

.intro-first-paragraph::first-letter {
  float: left;
  font-family: 'Cormorant Unicase', serif;
  font-size: 4.5rem;
  line-height: 0.8;
  padding-right: 0.1em;
  padding-top: 0.08em;
}
